.vscode/*

# ignore all .class files which are created
*/*/*.class 

# temp ignored: unsolved Que
January 2022/Day 38/Que2.java

# Some other stuff
Rough work/*
Planner.txt
May 2022/Day 112/left_right_view.java
