.vscode/*

# ignore all .class files which are created
*/*/*.class 

# temp ignored: unsolved Que
January 2022/Day 38/Que2.java

# Some other stuff
Rough work/*
Planner.txt



April 2022/Day 102/Student.java
April 2022/Day 102/T7_Map.java
April 2022/Day 102/T8_ArraysClass.java
April 2022/Day 102/T9_CollectionsClass.java
April 2022/Day 102/tempCodeRunnerFile.java